
<div class="container px-5 px-sm-0 card-list-container py-5">
  <%# if @sell.errors.any? %>
  <!--  <div>-->
  <!--    <ul style="color: red">-->
  <!--      <%#= @sell.errors.count %>errors prohibited this obj from being saved<br>-->
  <!--        <%# @sell.errors.full_messages.each do |message| %><br>-->
  <!--        <%#= message %>-->
  <!--      <%# end %>-->
  <!--    </ul>-->
  <!--  </div>-->
  <!--<%# end %>-->
  <div class="row">
    <div class="col-md-2">
      <h2>カテゴリー</h2>

    </div>
    <div class="col-md-8 offset-md-1">
      <div class="flex-container">
        <% @sells.each do |sell| %>
          <div class="card flex-item">
            <div>
              <%= attachment_image_tag sell, :image, :fill, 200, 200 %>
              <%= link_to item_sell_path(sell), class:"text-dark" do %>
                <strong><i class="far fa-flag"></i><span><%= sell.name %></span></strong>
              <% end %>
              <span><i class="fas fa-yen-sign"></i></i> <%= sell.price%>円 ｜ </span>
              <i class="far fa-thumbs-up"></i>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%#= paginate sells %>
  </div>
</div>
