<h1>ABOUTページ</h1>
<h4>お片付け機能をプラスしたフリマサイトです</h4>。
<h4>サイト内でその物の画像、名前、ジャンル、家のどこに置いてあるか、メモ等を登録できるお片付けページを作成します。</h4>
<h4>家のどこに何が置いてあるかがそれをみれば一目でわかるようになります。</h4>
<h4>そして、いらなくなったものはそのページから直接フリマサイトに出品できる機能にします。</h4>