<h2>カテゴリー <%= @category.name %></h2>
  <ul>
    <!--<%#@children.each do |child|%>-->
    <!--<li>-->
    <!--  <%#=link_to items_path(category_id:child.id)%>>-->
    <!--  <li>-->
    <!--<%#end%>-->
    <% @homes.each do |home| %>
      <li>
        <%= home.name %>
      </li>
    <% end %>
  </ul>