// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.customer-table{
  width: 100%;
  border-collapse: collapse;
}

.customer-table tr{
  border-bottom: solid 2px white;
}


.customer-table th{
  position: relative;
  text-align: left;
  width: 20%;
  background-color: #009900;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.customer-table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #009900;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.customer-table td{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
}